@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* branco */
    --foreground: 120 60% 20%; /* verde escuro */
    --card: 0 0% 100%; /* branco */
    --card-foreground: 120 60% 20%; /* verde escuro */
    --popover: 0 0% 100%; /* branco */
    --popover-foreground: 120 60% 20%; /* verde escuro */
    --primary: 142.1 76.2% 36.3%; /* verde */
    --primary-foreground: 355.7 100% 97.3%; /* branco */
    --secondary: 120 20% 90%; /* verde claro */
    --secondary-foreground: 120 60% 20%; /* verde escuro */
    --muted: 120 20% 90%; /* verde claro */
    --muted-foreground: 120 40% 30%; /* verde médio */
    --accent: 120 20% 90%; /* verde claro */
    --accent-foreground: 120 60% 20%; /* verde escuro */
    --destructive: 0 84.2% 60.2%; /* vermelho */
    --destructive-foreground: 0 0% 98%; /* branco */
    --border: 120 20% 90%; /* verde claro */
    --input: 120 20% 90%; /* verde claro */
    --ring: 142.1 76.2% 36.3%; /* verde */
    --radius: 1rem;
  }

  .dark {
    --background: 120 60% 20%; /* verde escuro */
    --foreground: 0 0% 100%; /* branco */
    --card: 120 55% 15%; /* verde mais escuro */
    --card-foreground: 0 0% 100%; /* branco */
    --popover: 120 55% 15%; /* verde mais escuro */
    --popover-foreground: 0 0% 100%; /* branco */
    --primary: 120 76% 36%; /* verde */
    --primary-foreground: 0 0% 100%; /* branco */
    --secondary: 120 55% 15%; /* verde mais escuro */
    --secondary-foreground: 0 0% 100%; /* branco */
    --muted: 120 50% 10%; /* verde muito escuro */
    --muted-foreground: 0 0% 100%; /* branco */
    --accent: 120 50% 10%; /* verde muito escuro */
    --accent-foreground: 0 0% 100%; /* branco */
    --destructive: 0 62.8% 30.6%; /* vermelho */
    --destructive-foreground: 0 85.7% 97.3%; /* branco */
    --border: 120 55% 15%; /* verde mais escuro */
    --input: 120 55% 15%; /* verde mais escuro */
    --ring: 142.4 71.8% 29.2%; /* verde */
  }
.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
}